

MONGO_URI=mongodb://tushar:mysecretpassword123@ac-kh7uonn-shard-00-00.crqlkjt.mongodb.net:27017,ac-kh7uonn-shard-00-01.crqlkjt.mongodb.net:27017,ac-kh7uonn-shard-00-02.crqlkjt.mongodb.net:27017/?ssl=true&replicaSet=atlas-88sfag-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=Tuahar@2002

PORT=5000


GOOGLE_CLIENT_ID=665381937501-ifp6c5erg6ukptmv4s2fs52a7vabddor.apps.googleusercontent.com

EMAIL_USER=e.learning.ts.rkl@gmail.com
EMAIL_PASS=ggwt bxkh wtgz guef


CLIENT_URL=http://localhost:5173


YOUTUBE_API_KEY=AIzaSyB69E0nMTErJnVPwSuGvn0MrLyQlUF5FrI